/* Your styles goes here. */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mapEmbeddingOptionContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mapEmbeddingOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationsTable {
  background-color: #000;
}

.locationsHeader, .locationsData {
  background-color: #FFF;
}
