* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0.5rem;
}

table {
  background-color: #000;
}

th, td {
  background-color: #FFF;
  padding: 0.5rem;
}

#map {
  width: 50%;
  height: 700px;
}
